body{
	margin: 0;
	padding: 0;
	background: rgba(45, 52, 54,1.0);
}
.box{
	margin-top: 50px;
	font-size: 20px;
	text-align: center;
	letter-spacing: 1px;
}
.box *{
	box-sizing: border-box;
	transition: all 0.35s ease;
}
.box li{
	display: inline-block;
	list-style-position: outside;
}
.box a{
	padding: 8px 12px;
	color: rgba(255, 255, 255, 0.5);
	text-decoration: none;
	position: relative;
}
.box a::before,
.box a::after{
	content: "";
	width: 14px;
	height: 14px;
	position: absolute;
	opacity: 0;
	transition: all 0.35s ease;
}
.box a::before{
	border-left: 3px solid #4834d4;
	border-bottom: 3px solid  #4834d4;
	left: 0;
	bottom: 0;
	transform: translate(100%,-50%);
}
.box a::after{
	border-right: 3px solid #4834d4;
	border-top: 3px solid #4834d4;
	right: 0;
	top: 0;
	transform: translate(-100%,50%);
}
.box a:hover{
	color: rgba(255, 255, 255, 1);
}
.box a:hover::before{
	transform: translate(0%,0%);
	opacity: 1;
}
.box a:hover::after{
	transform: translate(0%,0%);
	opacity: 1;
}
