#placeholder{
    width: 500px;
    overflow: hidden;
}
body{
    color: #333;
    background-color: #ccc;
    margin: 1px 10%;
}
h1{
    color: #333;
    background-color: transparent;
}
a{
    color: #c60;
    background-color: transparent;
    font-weight: bold;
    text-decoration: none;
}
ul{
    padding: 0;
}
li{
    float: left;
    padding: 10px;
    list-style: none;
}
img{
    display: block;
    clear:both;
}
#description{
    padding: 10px;
    
}