body{
	margin: 0;
	padding: 0;
	background: #34495e;
}
.slides{
	width: 700px;
	height: 400px;
	overflow: hidden;
	background: white;
}
.middle{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.navi{
	position: absolute;
	bottom: 1.25rem;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
}
.bar{
	border: 2px solid #34495E;
	width: 50px;
	height: 10px;
	margin: 6px;
	cursor: pointer;
}
