*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	position: relative;
	height: 100vh;
}
.head{
	margin: 10px 0 ;
	color: white;
	width: 100%;
	display: flex;
	position: absolute;
	font-size: 50px;
}
.musicName{
	margin: 0 10px;
}
.head h5{
	display: inline-block;
}
.head h6{
	display: inline-block;
}
.share{
	display: inline-block;
	position: absolute;
	right: 20px;
}


#plate{
	position: absolute;
	width: 500px;
	height: 500px;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	border-radius: 50%;
	overflow: hidden;
	margin: 0 auto;
}
#plate img{
	width: 100%;
	height: 100%;
	/* animation: rotate 20s linear infinite; */
}
@keyframes rotate{
	from{transform: rotate(0deg);}
	to{transform: rotate(360deg);}
}
#plate::before{
	content: '';
	position: absolute;
	width: 400px;
	height: 400px;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 1000;
	color: white;
	border-radius: 50%;
	border: 100px solid #46273b;
}
.control{
	position: absolute;
	width: 100%;
	height: 140px;
	bottom: 0;
	font-size: 500%;
}
.btn{
	margin-left: 20%;
	cursor: pointer;
	
}